<h2>The Good Guys Fight Here</h2>
<app-good-guys [shared]="shared"></app-good-guys>
<hr>
<h2>The Bad Guys Fight Here</h2>
<app-bad-guys [shared]="shared"></app-bad-guys>
<hr>
<zoomit zsrc="../../assets/images/aragon.jpg"></zoomit>
<hr>
<zoomit zsrc="../../assets/images/legolas.jpg"></zoomit>
<hr>
<zoomit zsrc="../../assets/images/gimli.jpg"></zoomit>
<hr>
<zoomit zsrc="../../assets/images/sarumon.jpg"></zoomit>
<hr>
<zoomit zsrc="../../assets/images/witchking.jpg"></zoomit>
<hr>
<zoomit zsrc="../../assets/images/lurtz.jpg"></zoomit>
<hr>